/*=============== GOOGLE FONTS ===============*/
/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap"); */

@font-face {
  font-family: 'Akzidenz-Light';
  src: url('/assets/fonts/AkzidenzGroteskPro-Light.woff'); 
}
@font-face {
  font-family: 'Akzidenz-Regular';
  src: url('/assets/fonts/akzidenzgroteskpro_regular.ttf');
}
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --white: #FFFFFF;
  --body-color: #020202;
  --blue: #2F1EDB;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font-light: 'Akzidenz-Light', sans-serif;
  --body-font-regular: 'Akzidenz-Regular', sans-serif;
  --biggest-font-size: 20px;
  --h1-font-size: 48px;
  --h2-font-size: 34px;
  --normal-font-size: 18px;
  --small-font-size: 16px;
  --smaller-font-size: 14px;

  /*========== Font weight ==========*/
  --font-weight-light: 300;
  --font-weight-regular: 400;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

/* Responsive typography */
@media screen and (max-width: 1024px) {
  :root {
    /* --biggest-font-size: 4rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem; */
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
picture {
  font-size: 0;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--body-font-light);
  font-size: var(--normal-font-size);
  background-color: var(--body-color);
  color: var(--white);
  transition: .3s; /* For animation dark mode */  
}
main {
  overflow: hidden;
}
h1{
  font-size: var(--h1-font-size);
  color: var(--white);
  font-weight: var(--font-weight-regular);
}

h2 {
  font-size: var(--h2-font-size);
  font-weight: var(--font-weight-light);
  color: var(--white);
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  max-width: 100%;
  height: auto;
}

input,
button {
  font-family: var(--body-font);
  outline: none;
  border: none;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1144px;
  margin: auto;
  padding: 0 15px ;
}



.section {
  margin: 150px 0 0;
}

.section__title {
  font-size: var(--h2-font-size);
  color: var(--white);
}



/* ====================== HEADER ====================== */
.header {
  height: 1040px;
  overflow: visible;
}
.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 843px;
  max-width: 100%;
  margin: 0 0 0 20px;
}
.header__inner {
  position: fixed;
  width: 1164px;
  max-width: 100%;
  display: flex;
  height: 125px;
  justify-content: space-between;
  align-items: center;
  z-index: 1231231231;
  padding: 0 15px 0 15px;
}
.header__inner.headerbg {
  width: 100%;
  max-width: 1114px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #020202;
  /* height: 125px; */
}
.header__inner.headerbg::after {
  content: '';
  display: block;
  position: fixed;
  width: 100vw;
  height: 125px;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
  background: #020202;
  z-index: -2;
}
.header__ul {
  display: flex;
  gap: 52px;
}
.header__link {
  font-family: var(--body-font-regular);
  font-size: var(--normal-font-size);
  line-height: 21px;
}
.header__btns {
  display: flex;
  gap: 20px;
}
.header__btns-tel {
 position: relative;
 display: flex;
 justify-content: center;
 align-items: center;
 width: 187px;
 max-width: 100%;
 height: 40px;
 font-size: var(--smaller-font-size);
 color: var(--white);
 font-family: var(--body-font-regular);
}
.btn-link {
 font-family: var(--body-font-regular);

}
.header__btns-tel::after {
  content: url('/assets/img/layer1.svg');
  position: absolute;
  z-index: -1;
  top: -1px;
}
.header__btns-tel::before {
  content: url('/assets/img/layer2.svg');
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
}
.header__btns-order {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 187px;
  max-width: 100%;
  height: 40px;
  color: var(--white);
  font-family: var(--body-font-regular);
  font-size: var(--smaller-font-size);
  background: none;
  cursor: pointer;
  line-height: 18px;
}

.header__btns-order::after {
  content: url('/assets/img/layer2.svg');
  position: absolute;
  z-index: -1;
  top: -1px;
}
.header__btns-order::before {
  content: url('/assets/img/layer1.svg');
  position: absolute;
  z-index: -1;
  top: 6px;
  left: 6px;
}
.header__close {
  /* overflow: hidden; */
  width: 36px;
  height: 25px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  cursor: pointer;
  z-index: 1;
}
.header__close span {
  display: block;
  width: 100%;
  height: 3px;
  background: var(--white);
}

.span-up.open {
  width:100%;
  -webkit-transform:  rotate(45deg) translateY(9px) translateX(8px);;
     -moz-transform:  rotate(45deg) translateY(9px) translateX(8px);;
      -ms-transform:  rotate(45deg) translateY(9px) translateX(8px);;
       -o-transform:  rotate(45deg) translateY(9px) translateX(8px);;
       transform:  rotate(45deg) translateY(9px) translateX(8px);
  transition: all .6s ;

}
.span-middle.open {
  margin-left: 80px;
  transition: all .6s ;
}
.span-down.open {
  width:100%;
  -webkit-transform: rotate(-45deg) translateY(-7px) translateX(7px);
     -moz-transform: rotate(-45deg) translateY(-7px) translateX(7px);
      -ms-transform: rotate(-45deg) translateY(-7px) translateX(7px);
       -o-transform: rotate(-45deg) translateY(-7px) translateX(7px);
          transform: rotate(-45deg) translateY(-7px) translateX(7px);
  transition: all .6s ;

}

.home {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  height: 1050px;
  cursor: pointer;
  z-index: 2;
}
.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-slide {
  position: relative;
  height: 1000px;
}
.swiper-img {
}
.swiper-img img {
  width: 100%;
  height: 1000px;
  object-fit: cover;
}
.swiper-img-three {
  /* height: 1000px; */
  margin: auto;
  object-fit: cover;
  width: 1114px;
  max-width: 100%;
}
#slide3 img {
  max-width: 100%;
  height: 100%;
  /* object-fit: cover; */
}
.swiper {
  position: relative;
}
.swiper-wrapper {
  position: relative;
}
.swiper__text {
  position: absolute;
 bottom: 79px;
 width: 1114px;
 max-width: 100%;
 right: 0;
 left: 0;
 margin: auto;
}
.swiper-slide-three .swiper__text {
/* bottom: 100px;  */
}
.swiper-title {
  text-transform: uppercase;
  font-family: var(--body-font-regular);
  line-height: 61px;
  margin: 0 0 10px;
}
.swiper-subtitle {
  font-size: var(--biggest-font-size);
  color: var(--white);
  line-height: 26px;
  font-family: var(--body-font-light);
}
.swiper__text-down {
  margin: 54px 0 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.swiper__down-link {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
 font-family: var(--body-font-light);
}
.swiper__down-more a {
  z-index: 1;
  cursor: pointer;
  text-decoration: underline;
 font-family: var(--body-font-light);

}

.swiper-pagination {
  display: flex;
  width: 65px;
}
.container-pagination {
  position: relative;
  max-width: 1114px;
  margin: auto;
  z-index: 1123;
}
.swiper-pagination-bullet {
  width: 14px;
  height: 14px;
  border-radius: 100%;
  border: 2px solid #2F1EDB;
  background: none;
  opacity: 1;
  z-index: 23;

}
.swiper-pagination-bullet-active {
  border: 2px solid var(--white);
}


.about {
  position: relative;
  z-index: -1;
}





/* =============   ABOUT ================== */
.about__text {
  display: flex;
  justify-content: end;
}
.about__text-text {
  width: 598px;
  max-width: 100%;
  margin: 150px 0 0;
  font-size: var(--normal-font-size);
  font-family: var(--body-font-light);
  line-height: 23px;
}
.about__items {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 150px 0 0;
  gap: 20px;
}
.about__item {
  text-align: center;
  width: 386px;
  max-width: 100%;
}
.about__item-text {
  font-family: var(--body-font-light);
  font-size: var(--biggest-font-size);
}



/* ==============   STOCK ================ */
.stock__title {
  text-transform: uppercase;
  font-family: var(--body-font-light);
  line-height: 44px;
  margin: 0 0 30px;
}
.stock-swiper {
  width: 1114px;
  max-width: 100%;
  height: 454px;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}
.stock-swiper-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
}
.stock-swiper-slide {
  width: 100%;
  height: 400px;
  flex-shrink: 0;
  background: #D9D9D9;
}
.stock-pagination {
  position: relative;
  display: grid;
  gap: 8px;
  /* flex-direction: column-reverse; */
  grid-template-areas: 'scroll' 'pagination';
  /* bottom: 0; */
  min-height: 54px;
  width: 100%;
  /* margin: 10px 0 0; */
  padding: 20px 0 0;
}
.swiper-scrollbar {
  display: flex;
  grid-area: scroll;
  background-color: rgb(46, 30, 220) ;
  -webkit-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
  -moz-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
  box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
}

 .swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0%;
  width: 100%;
}
.swiper-scrollbar-drag {
  /* max-width: 174px; */
  background: var(--white);
  border-radius: 0;
} 

.stock-swiper-pagination-down {
  display: flex;
  grid-area: pagination;
  justify-content: space-between;
  width: 100%;
  /* order: -1; */
}
.pagination-down-text {
  cursor: pointer;
}

.stock-swiper-pagination {
  width: 32px;
  display: flex;
  font-size: var(--normal-font-size);
}
.stock-swiper-pagination {
  font-size: var(--normal-font-size);
  font-family: var(--body-font-light);
}

/* ==============   PRICE ================== */
.price {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}
.price__accordion-text {
  font-size: var(--small-font-size);
  font-family: var(--body-font-light);
}
.price__title {
  text-transform: uppercase;
}
.price__accordion {
  width: 756px;
  max-width: 100%;
}
.first-col {
  grid-area: first;
  width: 90px;
  display: flex;
    flex-direction: column;
    gap: 24px;
}
.second-col {
    width: 90px;
    grid-area: second;
    display: flex;
    flex-direction: column;
    gap: 24px;
}
.third-col {
  width: 90px;
  grid-area: third;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.price__accordion-title {
  grid-area: title;
  text-transform: uppercase;
}
.price__accordion-block {
  position: relative;
  max-height: 77px;
  column-gap: 19%;
  width: 100%;
  padding: 29px 25px 27px 32px;
  overflow: hidden;
  transition: all .8s ease;
  border-top: 2px solid #FFFFFF;
  cursor: pointer;
}
.price__accordion-col {
  display: flex;
  /* justify-content: space-between; */
  gap: 18%;
}
.accordion__wrapper {
  display: flex;
  flex-direction: column;
  width: 762px;
  max-width: 100%;
}
.price__accordion-block::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(46, 30, 220) ;
  -webkit-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
  -moz-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
  box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
}
.price__accordion-block:nth-child(3) {
  border-bottom: 2px solid #FFFFFF;
}
.price__accordion-block:nth-of-type(3)::after {
  content: '';
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: rgb(46, 30, 220) ;
  -webkit-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
  -moz-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
  box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);;
}
.price__accordion-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.price__accordion-block.show {
  max-height: 100%;
  transition: all .8s ease;
}
.col-title {
  margin: 0 0 45px;
}
.price__accordion-block {
}

.price__accordion-arrow {
  grid-area: arrow;
  height: 11px; 
}
.arrow-img {
  transform: rotate(180deg);
  transition: transform .5s ease;
}
.arrow-img.show {
  transform: rotate(0deg);
  transition: transform .5s ease;
}

.accordion-btn {
  margin: 60px 0 0;
}
.price__accordion-title {
  max-width: 100%;
  width: 762px;
  display: grid;
  grid-template-areas: 'first-title second-title third-title arrow';
  justify-content: space-between;

}
.first-title {
  grid-area: first-title;
}
.second-title {
  grid-area: second-title;
}
.third-title {
  grid-area: third-title;
}

.first-col__responsive {
  display: none;
}


/* ============== ROOM SWIPER ============= */
.room__title {
  text-transform: uppercase;
  font-family: var(--body-font-regular);
}
.room-swiper {
  width: 100%;
  overflow: hidden;
  margin: 40px 0 0;
}
.room-slide {
  flex-shrink: 0;
}
.room-swiper-pagination {
  /* position: relative; */
  display: flex;
  justify-content: space-between;
  max-width: 100%;

  /* gap: 90%; */
}
/* .room-slide img {
  width: 368px;
  height: 246px;
  max-width: 100%;
} */
.room-wrapper {
  display: flex;
  width: 100%;
  height: 100%;

}

.room-swiper-scrollbar {
  background-color: rgb(46, 30, 220) ;
  -webkit-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);
  -moz-box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);
  box-shadow:  0px 0px 10px 4px rgba(47, 30, 219, 0.71);
  margin: 20px 0 10px;
  height: 6px;
}

.room-swiper-scrollbar.swiper-scrollbar-horizontal {
  left: 0%;
  width: 100%;
}
.room-swiper-scrollbar .swiper-scrollbar-drag {
  max-width: 174px;
  background: var(--white);
  border-radius: 0;
}

/* ============  ORDER ================== */
.order {
  margin: 0 auto 200px;
}
.order__title {
  text-transform: uppercase;
}
.order__wrapper {
  width: 570px;
  max-width: 100%;
  height: 100%;
  margin:  0 auto 0 388px;
}
.order__form {

  display: flex;
  flex-direction: column;
  gap: 29px;  
  margin: 60px 0 0;
}

.form__input {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #020202;
  height: 34px;
  border-bottom: 2px solid #D9D9D9;
}
.select-list {
  position: absolute;
  top: 32px;
  width: 100%;
  display: none;
}
.select-list.show {
  display: block;
}
.select-list p{
  width: 100%;
  border: 1px solid white;
  padding: 12px 0 17px 45px;
  cursor: pointer;
  background: #020202;
  position: relative;
  z-index: 1;
}
.select-form-input{
  cursor: pointer;
}
  .custom-arrow {
    background: url(../img/accordino-arrow.svg);
    display: block;
    width: 46px;
    height: 36px;
    position: absolute;
    top: -5px;
    right: 0;
    pointer-events: none;
    transition: transform .3s ease;
  }
  
  
  .custom-arrow.rotate {
    transform: rotate(180deg);
    transition: transform .3s ease;
  }
.form__input::after {
  content: '';
  display: block;
  position: absolute;
  bottom: -2px;
  z-index: -1;
  width: 100%;
  height: 3px;
  background-color: rgb(46, 30, 220);
  -webkit-box-shadow: 0px 0px 10px 4px rgba(47, 30, 219, 0.71);
  -moz-box-shadow: 0px 0px 10px 4px rgba(47, 30, 219, 0.71);
  box-shadow: 0px 0px 10px 2px rgba(47, 30, 219, 0.71);
}
.form__input input {
  background: #020202;
  width: 570px;
  font-family: var(--body-font-regular);
  color: var(--white);
  opacity: 1;
}
.time-label {
  width: 45px;
  overflow-x: hidden;
}
.form__input input::placeholder {
  font-size: var(--normal-font-size);
  color: var(--white);
  opacity: 1;
}
datalist::after {
  content: url('../img/accordino-arrow.svg');
  display: block;
  width: 23px;
  height: 23px;
  position: absolute;
}


/* ========================   ADDRESS ==================== */
.address {
  /* padding: 100px 0 100px; */
}
.address__content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  position: relative;
  padding: 0 0 100px;
}

.address__text {
  background: url(/assets/img/addressbg.svg);
  background-size: contain;
  background-repeat: no-repeat;
  /* height: 368px; */
  padding: 47px 141px 47px 47px;
  margin: 100px 0 0;
  z-index: 1;
  position: relative;
}
.address__text::after {
  content: '';
  display: block;
  position: absolute;
  left: 16px;
  width: 348px;
  max-width: 100%;
  height: 349px;
  top: 20px;
  z-index: -1;
  border: 2px solid #2F1EDB;
}
.address__text-title {
  font-family: var(--body-font-light);
  font-size: var(--h2-font-size);
  font-style: normal;
}
.address__text-location {
  font-style: normal;
  font-size: var(--small-font-size);
  font-family: var(--body-font-light);
  margin: 25px 0 15px;
  line-height: 21px;
}
.address__text-email {
  display: block;
  margin: 0 0 15px;
}
.address__text-email, .address__text-phone {
  font-style: normal;
  font-size: var(--small-font-size);
  font-family: var(--body-font-light);
}
.address__title {
  font-style: normal;
  font-size: var(--h2-font-size);
  font-family: var(--body-font-light);
  margin: 0 0 32px;
  
}

.address__text-social {
  display: flex;
  gap: 20px;
  margin: 63px 0 0;
}
.address__text-social img {
  width: 28px;
  height: 28px; 
}
.address__map {
  right: 0;
  z-index: -1;
  position: absolute;
}

.map {
  width: 854px;
  height: 490px;
}


/* ==================  FOOTER =============== */

.footer {
  width: 1114px;
  max-width: 100%;
  margin: 150px auto 100px;
  padding: 0 15px 0;
}

.footer__wrapper {
  display: grid;
  gap: 30px;
  justify-content: space-between;
  grid-template-areas: 'logo . .'
                       'name politic data';
}

.footer__logo {
  grid-area: logo;
}
.footer__name {
  grid-area: name;
}
.footer__politic {
  grid-area: politic;
}
.footer__data {
  grid-area: data;
}

.footer___text {
  color: #797979;
  font-family: var(--body-font-regular);
  font-size: var(--normal-font-size);
}

/* ================= MEDIA ====================== */
@media (min-width: 1441px) {
  .video-middle, .video-small {
    display: none;
  }
}
@media (max-width: 1440px) {
  .video-large, .video-small {
    display: none;
  }
}

@media (max-width: 360px) {
  .video-large, .video-middle {
    display: none;
  }
  .video-small {
    display: block;
  }
}

@media (max-width: 1020px){
  .order__wrapper {
    margin: auto;
  }
}

@media(min-width: 950px) {
  .header__close {
    display: none;
  }
}
@media  (max-width: 950px) {
  .header__inner {
    padding: 0 35px 0 0;
  }
  .header__nav {
    position: fixed;
    right:  0;
    top: 0;
    background-color: rgba(0, 0, 0, .9);
    width: 80%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 200px 150px 0;
    gap: 20px;
    text-align: center;
    transform: translate(0%);
    transition: transform .3s ease;
  }
  .header__nav.show {
    transform: translate(100%);
  }
  .header__close {
    display: flex;
  }
  .header__ul {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
  }
  .header__btns {
    flex-direction: column;
  }
  .price {
    flex-wrap: wrap;
    gap: 25px
  }
  .accordion-btn {
    margin: 30px 0 0;
  }
  .accordion-btns {
    width: 300px;
    margin: auto;
  }
  .price__accordion-block {
    padding: 20px 16px 25px 16px;
    max-height: 61px;
  }
  .col-title {
    margin: 0 0 20px;
  }
  .price__accordion-text  {
    font-size: 14px;
  }
}

@media (max-width: 756px) {

  .swiper-img img {
    height: 731px;  
  }
  .swiper-slide {
    height:  790px;
  }
  .header {
    height: 766px;
  }
  .swiper {
    height: 766px;
  }
  .home {
    height: 856px;
  }
  .swiper-pagination {
    bottom: 120px;
  }
  .swiper-title {
    line-height: 29px;
  }
  .swiper-subtitle {
    width: 170px;
  }
  .about__items {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin: 70px 0 0;
  }
  .section {
    margin: 110px 0 0;
  }
  .about__text-text {
    margin: 110px 0 0;
  }
  :root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --white: #FFFFFF;
    --body-color: #020202;
    --blue: #2F1EDB;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font-light: 'Akzidenz-Light', sans-serif;
    --body-font-regular: 'Akzidenz-Regular', sans-serif;
    --biggest-font-size: 16px;
    --h1-font-size: 23px;
    --h2-font-size: 24px;
    --normal-font-size: 18px;
    --small-font-size: 16px;
    --smaller-font-size: 14px;
  
    /*========== Font weight ==========*/
    --font-weight-light: 300;
    --font-weight-regular: 400;
  
    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
  }
  .room-slide img{
    width: 100%;
  }
  .room-swiper {
    margin: 70px 0 0;
  }
  .room-swiper-pagination {
    padding: 0 10px 0 0;
  }
  .room__title {
    line-height: 24px;
    font-family: var(--body-font-light);
    /* font-size: 24px; */
  }
  .address__map {
    position: relative;
  }
  .address__content {
    flex-wrap: wrap-reverse;

  }
  .address__text {
    padding: 32px 27px 39px 30px;
    margin: -50px auto 0;
  }
  .address__text::after {
    width: 279px;
    height: 281px;
  }
  .address__text-social {
    margin: 44px 0 0;
  }
  .address__text-location {
    margin: 19px 0 15px;
  }
  .footer {
    margin: 150px auto 100px;
  }
  .footer___text {
    font-size: 14px;
  }
}

@media (max-width: 500px) {
  .footer__wrapper {
    grid-template-areas: 'logo . name''politic politic politic' 'data data data';
  }
  .footer {
    margin: 0px 0 30px;
  }
}

@media (max-width: 361px) {
  .swiper__text-down {
    margin: 54px 0 0;
    height: 126px;
    position: relative;
    
  }
  .swiper__down-more {
    position: absolute;
    top: 0;
    left: 0;
  }
  .swiper__down-link {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .about__item {
    text-align: center;
    width: 330px;
    max-width: 100%;
  }
  .about__items {
    gap: 70px;
  }
  .text-margin {
    display: block;
    margin: 21px 0 0;
  }
  .stock-swiper-slide {
    width: 330px;
    height: 330px;
  }
  .stock-pagination {
    flex-direction: column-reverse;
    bottom: 70px;
    padding: 17px 0 0;
    /* gap: 18px; */
  } 
  .swiper-scrollbar-drag {
    max-width: 110px;
  }
  .price__accordion-title {
    grid-template-areas: 'first-title first-title first-title arrow' '. second-title third-title third-title';
    /* gap: 20px; */
  }
  .price__accordion-arrow img {
    width: 25px;
    height: 19px;
  }
  .price__accordion-col {
    gap: 17%;
  }
  .second-col {
    width: 55px;
  }
  .third-col {
    width: 55px;
  }
  .first-col {
    display: none;
  }
  .first-col__responsive {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  .second-title {
    margin-left: 50px;
  }
  .order__form {
    display: flex;
    flex-direction: column;
    gap: 29px;  
    margin: 64px 0 206px;
  }
  .address__text {
    width: 289px;
  }
  .address__text-social {
    margin: 20px 0 0;
  }
  .address__map img {
    width: 333px;
height: 333px;
  }
}

@media  (min-width: 361px) {
  .block-third, .block-second {
    width: 76px;
  }
}